*.cmake
*.cbp
*.make
*.obj
*.exe
*.bin
*.pdb
*.rc
*.internal
*.includecache
*.lib
*.txt
*.log
*.ilk
cmake-build-debug/lib/glm/test/core/Makefile
cmake-build-debug/lib/glm/test/Makefile
cmake-build-debug/lib/glm/glm/Makefile
cmake-build-debug/lib/glfw/tests/Makefile
cmake-build-debug/lib/glfw/src/Makefile
cmake-build-debug/lib/glfw/examples/Makefile
cmake-build-debug/lib/glfw/Makefile
cmake-build-debug/lib/glew/Makefile
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/lib/glm/test/gtc/Makefile
cmake-build-debug/lib/glm/Makefile
cmake-build-debug/lib/glm/test/gtx/Makefile
cmake-build-debug/lib/glm/test/bug/Makefile
